block content
    h1 Ajout
    if !userId
        form(method='POST' action='http://localhost:8080/users')
        
            div.form-group
              label(for='pseudo') Pseudo:
              input#pseudo.form-control(type='text', placeholder='Pseudo' name='pseudo' value=user.pseudo)
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='name@email.com' name='email' value=user.email)
            div.form-group
              label(for='firstname') Firstname:
              input#firstname.form-control(type='text', placeholder='firstname' name='firstname' value=user.firstname)
            div.form-group
              label(for='lastname') Lastname:
              input#lastname.form-control(type='text', placeholder="lastname" name='lastname' value=user.lastname)
            button.btn.btn-primary(type='submit') Ajouter
    else 
        form(method='POST' action="/users/" + userId + "?_method=PUT")
        
            div.form-group
              label(for='pseudo') Pseudo:
              input#pseudo.form-control(type='text', placeholder='Pseudo' name='pseudo' value=user.pseudo)
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='name@email.com' name='email' value=user.email)
            div.form-group
              label(for='firstname') Firstname:
              input#firstname.form-control(type='text', placeholder='firstname' name='firstname' value=user.firstname)
            div.form-group
              label(for='lastname') Lastname:
              input#lastname.form-control(type='text', placeholder="lastname" name='lastname' value=user.lastname)
            button.btn.btn-primary(type='submit') Ajouter